<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>todos</title>
	</head>
	<body>
		<ul>
			<% tasks.each do |task| %>
				<li>
					<%= task.text %>
					<% task.hashtags.each do |tag| %>
						<span>#<%= tag %></span>
					<% end %>
				</li>
			<% end %>
		</ul>
	</body>
</html>